.header {
  background-image: url("../images/header.png");
  background-size: 100% 150%;
  height: 60vh;
  width: 100%;
  display: flex;
  position: relative;
  border-bottom: 1px solid lightblue;
}

.header > p {
  color: white;
  font-size: 45px;
  text-shadow: 2px 2px 4px black;
  z-index: 2;
  position: absolute;
  left: 75px;
  bottom: 25px;
}

.about-container {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  width: 100vw;
  flex: 1 0 auto;
}

.about-container > main {
  display: flex;
  flex-direction: column;
  background-color: #282828;
  color: white;
  font-size: 22px;
  padding: 8%;
}

.about-container > main > section {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin-top: 25px;
}

.about-container > main > section > img {
  width: 40%;
  height: 35%;
  background-size: cover;
  margin-right: 2%;
}

.about-section-one > div {
  width: 50%;
}

.about-section-one > div > h3 {
  color: lightblue;
  margin: 0;
  font-size: 45px;
}

.about-section-two > p {
  width: 50%;
  margin-top: 0;
}
