/* header shared across all pages except splash */
@media only screen and (max-width: 600px) {
  .header {
    background-image: url("../images/header.png");
    background-size: cover;
    background-position: 50% 50%;
    height: 150px;
    width: 100%;
    display: flex;
    position: relative;
    border-bottom: 1px solid #CFB53B;;
  }

  .header > p {
    margin: 0;
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px black;
    z-index: 2;
    position: absolute;
    left: 35px;
    bottom: 35px;
  }
}

@media only screen and (min-width: 600px) {
  .header {
    background-image: url("../images/header.png");
    background-size: cover;
    background-position: 50% 50%;
    height: 250px;
    width: 100%;
    display: flex;
    position: relative;
    border-bottom: 1px solid #CFB53B;;
  }

  .header > p {
    margin: 0;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    z-index: 2;
    position: absolute;
    left: 35px;
    bottom: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    background-image: url("../images/header.png");
    background-size: cover;
    background-position: 50% 50%;
    height: 350px;
    width: 100vw;
    display: flex;
    position: relative;
    border-bottom: 1px solid #CFB53B;;
    background-attachment: fixed;
  }

  .header > p {
    margin: 0;
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 4px black;
    z-index: 2;
    position: absolute;
    left: 75px;
    bottom: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .about-container {
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
    width: 100vw;
    flex: 1 0 auto;
  }

  .about-container > main {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    color: white;
    font-size: 18px;
    padding: 8%;
    width: 84%;
  }

  .about-container > main > section {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }

  .about-container > main > section > div {
    width: 100%;
    height: auto;
    background-size: cover;
  }

  .about-section-one > span > h3 {
    color: #CFB53B;
    margin: 0;
    font-size: 35px;
  }

  .about-section-two > p {
    margin-top: 5%;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .about-container {
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
    width: 100vw;
    margin-top: 170px;
    flex: 1 0 auto;
  }

  .about-container > main {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    color: white;
    font-size: 22px;
    padding: 8%;
  }

  .about-container > main > section {
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin-top: 25px;
  }

  .about-container > main > section > div {
    width: 40%;
    height: 35%;
    background-size: cover;
    margin-right: 2%;
  }

  .about-section-one > span {
    width: 50%;
  }

  .about-section-one > span > h3 {
    color: #CFB53B;;
    margin: 0;
    font-size: 45px;
  }

  .about-section-two > p {
    width: 50%;
    margin-top: 0;
  }
}
