/* header shared across all pages except splash */
.header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 225px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--silver);
}

.header > p {
  margin: 0;
  color: var(--white);
  font-size: 25px;
  text-shadow: 2px 2px 4px black;
  z-index: 2;
  position: absolute;
  left: 35px;
  bottom: 25px;
}

@media only screen and (min-width: 600px) {
  .header {
    height: 300px;
  }

  .header > p {
    font-size: 30px;
    left: 45px;
    bottom: 55px;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    height: 450px;
  }

  .header > p {
    font-size: 45px;
    left: 75px;
    bottom: 88px;
  }
}

.about-container {
  width: 100vw;
  flex: 1 0 auto;
}

.about-main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--background-black);
  color: var(--light-gray);
  font-size: 18px;
  padding: 8%;
  width: 84%;
}

.about-sections-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.about-sections-wrapper > div {
  width: 100%;
  height: auto;
  background-size: cover;
  overflow: hidden;
}

.about-blurb-with-title > h3 {
  color: var(--white);
  margin: 0;
  font-size: 35px;
}

.about-sections-wrapper > p {
  margin-top: 5%;
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .about-container {
    margin-top: 190px;
  }

  .about-main-wrapper {
    font-size: 22px;
  }

  .about-sections-wrapper {
    justify-content: space-between;
  }

  .about-sections-wrapper > div {
    width: 40%;
    height: 35%;
    margin-right: 2%;
  }

  .about-blurb-with-title {
    width: 50%;
  }

  .about-blurb-with-title > h3 {
    font-size: 45px;
  }

  .about-sections-wrapper > p {
    width: 50%;
    margin-top: 0;
  }
}
