.contact-container {
  flex: 1 0 auto;
}

.contact-container h2 {
  color: var(--white);
  margin-top: 0;
  font-size: 28px;
  font-weight: 400;
  border-bottom: 2px solid var(--dark-brown);
}

.contact-container p {
  margin-top: 0;
}

.contact-confirmation-modal {
  padding: 25px;
  background-color: var(--background-black);
  color: var(--white);
  font-size: 22px;
  border: 1px solid var(--white);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-confirmation-modal > button {
  font-family: var(--font-family);
  color: var(--silver);
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--dark-brown);
  cursor: pointer;
}

.contact-confirmation-modal > button:hover {
  color: var(--dark-brown);
  background-color: var(--silver);
}

.contact-main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-black);
  color: var(--white);
  padding: 8%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 22px;
  margin-bottom: 50px;
}

.contact-form > h2 {
  margin: 0 auto;
  margin-bottom: 9px;
}

.contact-form-input {
  font-family: var(--font-family);
  color: var(--light-gray);
  font-weight: 200;
  padding: 2%;
  font-size: 22px;
  background-color: var(--background-black);
  border-width: thin;
  border-color: var(--white);
  margin: 9px 0;
}

.contact-form-input::placeholder {
  color: var(--silver);
  font-weight: 200;
}

.message {
  resize: none;
  min-height: 180px;
}

.contact-form > p {
  font-size: 16px;
  color: red;
}

.contact-form-button {
  font-family: var(--font-family);
  width: 180px;
  font-size: 22px;
  color: var(--silver);
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 200;
  background-color: var(--dark-brown);
  cursor: pointer;
}

.contact-form-button:hover {
  color: var(--dark-brown);
  background-color: var(--silver);
  border-radius: 5px;
}

.contact-static-info {
  color: var(--light-gray);
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-static-info > ul {
  list-style: none;
  line-height: 200%;
  padding-left: 0;
  margin: 0;
}


@media only screen and (min-width: 600px) {
  .contact-main-wrapper {
    justify-content: space-around;
    padding: 3% 5%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 55%;
  }

  .contact-static-info {
    width: 35%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 992px) {
  .contact-container {
    margin-top: 190px;
  }

  .contact-main-wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5% 8%;
  }

  .contact-form {
    width: 45%;
  }

  .contact-static-info {
    width: 45%;
  }
}
