@media only screen and (max-width: 600px) {
  .gallery-container {
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
    flex: 1 0 auto;
  }

  .gallery-main-wrapper {
    background-color: #282828;
    width: 100vw;
  }

  .gallery-photos-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .gallery-photos-list > div {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

@media only screen and (min-width: 600px) {
  .gallery-container {
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
    flex: 1 0 auto;
  }

  .gallery-main-wrapper {
    background-color: #282828;
    width: 100vw;
  }

  .gallery-photos-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .gallery-photos-list > div {
    width: 25%;
    height: 250px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 992px) {
  .gallery-container {
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
    margin-top: 170px;
    flex: 1 0 auto;
  }

  .gallery-main-wrapper {
    background-color: #282828;
    width: 100vw;
  }

  .gallery-photos-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .gallery-photos-list > div {
    width: 25%;
    height: 450px;
    overflow: hidden;
  }
}
