.gallery-container {
  flex: 1 0 auto;
  position: relative;
}

.gallery-main-wrapper {
  background-color: var(--background-black);
  width: 100vw;
}

.gallery-photos-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.gallery-photos-list > div {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.gallery-swipe-arrow {
  color: var(--light-gray);
  font-size: 75px;
  position: absolute;
  cursor: pointer;
}

.gallery-swipe-arrow:hover {
  color: var(--background-black);
}

.gallery-swipe-arrow.left {
  left: 2vw;
}

.gallery-swipe-arrow.right {
  right: 2vw;
}

@media only screen and (min-width: 600px) {
  .gallery-photos-list > div {
    width: 25%;
    height: 250px;
  }

  .gallery-swipe-arrow {
    font-size: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .gallery-container {
    margin-top: 170px;
  }

  .gallery-photos-list > div {
    height: 450px;
  }

  .gallery-swipe-arrow {
    font-size: 150px;
  }
}
