@media only screen and (max-width: 992px) {
  .navbar-container {
    width: calc(100vw - 80px);
    background-image: url("../images/navbar.jpg");
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid #CFB53B;
    position: fixed;
    top: 0;
    z-index: 5;
  }

  .navbar-logo {
    height: 100%;
    margin-bottom: 14px;
  }

  .navbar-logo > img {
    width: auto;
    height: 250px;
  }

  .navbar-links {
    visibility: hidden;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: none;
    padding-left: none;
    margin-bottom: 14px;
  }

  .navbar-links > a {
    color: lightgrey;
    margin-bottom: 14px;
    text-decoration: none;
  }

  .navbar-links > a:hover {
    color: #CFB53B;
    border-bottom: 2px solid #CFB53B;
  }

  .show-navbar-links {
    visibility: visible;
    width: auto;
    height: auto;
  }

  .navbar-contact-number {
    margin: 0;
    color: white;
    background-color: #CFB53B;
    letter-spacing: 1px;
    padding: 8px;
    border-radius: 20px;
  }

  .navbar-contact-number:hover {
    color: #CFB53B;
    background-color: white;
  }

  .navbar-menu-icon {
    visibility: visible;
    width: 25px;
    height: 25px;
    position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-container {
    width: calc(100vw - 20px);
    background-image: url("../images/navbar.jpg");
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #CFB53B;
    position: fixed;
    top: 0;
    z-index: 5;
  }

  .navbar-logo {
    height: 100%;
  }

  .navbar-logo > img {
    width: auto;
    height: 150px;
  }

  .navbar-links {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: none;
    padding-left: none;
  }

  .navbar-links > a {
    color: lightgrey;
    margin-right: 30px;
    margin-top: 1%;
    text-decoration: none;
  }

  .navbar-links > a:hover {
    color: #CFB53B;
    border-bottom: 2px solid #CFB53B;
  }

  .navbar-contact-number {
    color: white;
    background-color: #CFB53B;
    padding: 18px 50px;
    border-radius: 20px;
  }

  .navbar-contact-number:hover {
    color: #CFB53B;
    background-color: white;
  }

  .navbar-menu-icon {
    visibility: hidden;
    width: 25px;
    height: 25px;
    position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}
