@media only screen and (max-width: 992px) {
  .services-container {
    flex: 1 0 auto;
  }

  .services-main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    color: white;
    font-size: 22px;
    padding: 4%;
    width: 92%;
  }

  .services-sections-wrapper {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-bottom: 5%;
  }

  .services-sections-wrapper > div {
    width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
  }

  .services-text-wrapper {
    margin-right: 5%;
  }

  .services-text-wrapper > p {
    margin-top: 0;
    font-size: 25px;
  }

  .services-text-wrapper ul {
    list-style: none;
    color: #a8a7ae;
  }

  .services-text-wrapper li::before {
    content: "\25B7";
    color: #69564e;
    font-size: 18px;
    margin-right: 10px;
  }

  .services-text-wrapper h5 {
    color: #e5e4e2;
    font-weight: 300;
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .services-container {
    margin-top: 170px;
    flex: 1 0 auto;
  }

  .services-main-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    color: white;
    font-size: 26px;
    padding: 10%;
  }

  .services-sections-wrapper {
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin-top: 25px;
  }

  .services-sections-wrapper > div {
    width: 50%;
    height: 45%;
    background-size: cover;
    overflow: hidden;
  }

  .services-text-wrapper {
    margin-right: 5%;
  }

  .services-text-wrapper > p {
    margin-top: 0;
    font-size: 28px;
  }

  .services-text-wrapper ul {
    list-style: none;
    color: #a8a7ae;
  }

  .services-text-wrapper li::before {
    content: "\25B7";
    color: #69564e;
    font-size: 18px;
    margin-right: 10px;
  }

  .services-text-wrapper h5 {
    color: #e5e4e2;
    font-weight: 300;
    font-size: 18px;
  }
}
