body {
  margin: 0px;
}

.darken-overlay {
  position: relative;
}

.darken-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .splash-container {
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  }

  .splash-photostream {
    width: 100vw;
    height: 500px;
  }

  .splash-photostream-images {
    width: 100%;
    height: 100%;
    position: relative;
  }

  @keyframes slides {
    0%   { opacity: 0; }
    11.11%   { opacity: 1; }
    33.33%  { opacity: 1; }
    44.44%  { opacity: 0; }
    100% { opacity: 0; }
  }

  .splash-photostream-images > span {
    opacity: 0;
    animation-name: slides;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }

  .splash-photostream-images span:nth-child(1) {
    animation-delay: 0s;
    background-image: url("../images/splash1.jpg");
  }

  .splash-photostream-images span:nth-child(2) {
    animation-delay: 5s;
    background-image: url("../images/splash2.jpg");
  }

  .splash-photostream-images span:nth-child(3) {
    animation-delay: 10s;
    background-image: url("../images/splash3.jpg");
  }

  .splash-photostream-images span:nth-child(4) {
    animation-delay: 15s;
    background-image: url("../images/splash4.jpg");
  }

  .splash-photostream-images span:nth-child(5) {
    animation-delay: 20s;
    background-image: url("../images/splash5.jpg");
  }

  .splash-photostream-images span:nth-child(6) {
    animation-delay: 25s;
    background-image: url("../images/splash6.jpg");
  }

  /* no transitions for smaller screen sizes for performance reasons */
  .splash-about-us {
    background-color: #282828;
    color: white;
    padding: 10%;
    letter-spacing: 1px;
  }

  .splash-about-us > article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .splash-about-us-text {
    margin-bottom: 8%
  }

  .splash-about-us-text > p:first-child {
    margin: 0px;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 2px 2px 4px #FFDF00;
  }

  .splash-about-us-text > p {
    font-size: 18px;
  }

  .splash-about-us-text-transitioned {
    margin-bottom: 8%
  }

  .splash-about-us-text-transitioned > p:first-child {
    margin: 0px;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 2px 2px 4px #FFDF00;
  }

  .splash-about-us-text-transitioned > p {
    font-size: 18px;
  }

  .splash-about-us-photo {
    width: auto;
    height: auto;
  }

  .splash-about-us-photo > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .splash-about-us-photo-transitioned {
    width: auto;
    height: auto;
  }

  .splash-about-us-photo-transitioned > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .splash-services {
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/splash8.jpg");
    background-size: 100% 100%;
  }

  .splash-services > p {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #FFDF00;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 500;
    z-index: 2;
  }

  /* no transitions for smaller screen sizes for performance reasons */
  .splash-gallery {
    padding: 8% 8%;
    display: flex;
    flex-direction: column;
    background-color: #282828;
  }

  .splash-gallery-photos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
  }

  .splash-gallery-photos > img {
    width: 40%;
    height: 35%;
    margin: 1%;
  }

  .splash-gallery-photos-transitioned {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
  }

  .splash-gallery-photos-transitioned > img {
    width: 40%;
    height: 35%;
    margin: 1%;
  }

  .splash-gallery-text {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
  }

  .splash-gallery-text > p {
    color: white;
    text-shadow: 2px 2px 4px #FFDF00;
    margin-bottom: 3%;
    font-size: 30px;
    font-weight: 500;
  }

  .splash-gallery-text-transitioned {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
  }

  .splash-gallery-text-transitioned > p {
    color: white;
    text-shadow: 2px 2px 4px #FFDF00;
    margin-bottom: 3%;
    font-size: 30px;
    font-weight: 500;
  }

  .splash-reviews {
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url("../images/splash9.jpg");
    background-size: cover;
  }

  .splash-reviews-text {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
  }

  .splash-reviews-text > h3 {
    margin-top: 0;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 2px 2px 4px #FFDF00;
  }

  .splash-reviews-text > h5 {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
  }

  .splash-reviews-text > p {
    font-size: 14px;
    font-weight: 200;
    color: #FFDF00;
  }
}

@media only screen and (min-width: 992px) {
  .splash-container {
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
    margin-top: 170px;
  }

  .splash-photostream {
    width: 100vw;
    height: 100vh;
  }

  .splash-photostream-images {
    width: 100%;
    height: 100%;
    position: relative;
  }

  @keyframes slides {
    0%   { opacity: 0; }
    11.11%   { opacity: 1; }
    33.33%  { opacity: 1; }
    44.44%  { opacity: 0; }
    100% { opacity: 0; }
  }

  .splash-photostream-images > span {
    opacity: 0;
    animation-name: slides;
    animation-duration: 37s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
  }

  .splash-photostream-images span:nth-child(1) {
    animation-delay: 0s;
    background-image: url("../images/splash1.jpg");
  }

  .splash-photostream-images span:nth-child(2) {
    animation-delay: 5s;
    background-image: url("../images/splash2.jpg");
  }

  .splash-photostream-images span:nth-child(3) {
    animation-delay: 10s;
    background-image: url("../images/splash3.jpg");
  }

  .splash-photostream-images span:nth-child(4) {
    animation-delay: 15s;
    background-image: url("../images/splash4.jpg");
  }

  .splash-photostream-images span:nth-child(5) {
    animation-delay: 20s;
    background-image: url("../images/splash5.jpg");
  }

  .splash-photostream-images span:nth-child(6) {
    animation-delay: 25s;
    background-image: url("../images/splash6.jpg");
  }

  .splash-about-us {
    background-color: #282828;
    color: white;
    padding: 10%;
    letter-spacing: 1px;
  }

  .splash-about-us > article {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .splash-about-us-text {
    visibility: hidden;
  }

  @keyframes splash-about-us-text {
    to { transform: translateX(0); }
  }

  .splash-about-us-text-transitioned {
    margin-right: 10%;
    transform: translateX(-100vw);
    animation: splash-about-us-text 0.8s ease forwards;
  }

  .splash-about-us-text-transitioned > p:first-child {
    margin: 0px;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 4px #FFDF00;
  }

  .splash-about-us-text-transitioned > p {
    font-size: 22px;
  }

  .splash-about-us-photo {
    visibility: hidden;
  }

  @keyframes splash-about-us-photo-transitioned {
    to { transform: translateX(0); }
  }

  .splash-about-us-photo-transitioned {
    width: auto;
    height: auto;
    transform: translateX(100vw);
    animation: splash-about-us-photo-transitioned 0.8s ease forwards;
  }

  .splash-about-us-photo-transitioned > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .splash-services {
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/splash8.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .splash-services > p {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #FFDF00;
    margin-top: 0px;
    font-size: 50px;
    font-weight: 500;
    z-index: 2;
  }

  .splash-gallery {
    padding: 8% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
  }

  .splash-gallery-photos {
    visibility: hidden;
  }

  @keyframes splash-gallery-photos-transitioned {
    to { transform: translateX(0); }
  }

  .splash-gallery-photos-transitioned {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin-left: 5%;
    margin-right: 2%;
    transform: translateX(-100vw);
    animation: splash-gallery-photos-transitioned 0.8s ease forwards;
  }

  .splash-gallery-photos-transitioned > img {
    width: 48%;
    height: 50%;
    margin: 1%;
    overflow: hidden;
  }

  .splash-gallery-text-hidden {
    visibility: hidden;
  }

  @keyframes splash-gallery-text-transitioned {
    to { transform: translateX(0); }
  }

  .splash-gallery-text-transitioned {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    transform: translateX(100vw);
    animation: splash-gallery-text-transitioned 0.8s ease forwards;
  }

  .splash-gallery-text-transitioned > p {
    color: white;
    text-shadow: 2px 2px 4px #FFDF00;
    margin-top: 0px;
    font-size: 50px;
    font-weight: 500;
  }

  .splash-reviews {
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url("../images/splash9.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .splash-reviews-text {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
  }

  .splash-reviews-text > h3 {
    margin-top: 0;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 4px #FFDF00;
  }

  .splash-reviews-text > h5 {
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
  }

  .splash-reviews-text > p {
    font-size: 18px;
    font-weight: 200;
    color: #FFDF00;
  }
}

.splash-button {
  z-index: 2;
}

.splash-button > button {
  font-size: 20px;
  color: black;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 200;
  background-color: #FFDF00;
  cursor: pointer;
}

.splash-button > button:hover {
  color: #FFDF00;
  background-color: black;
  border-radius: 5px;
}
